<div id="products" class="row" data-hook>
  <ul>
    {{#each product in controller}}
      <li>
        <img {{bind-attr src="product.mainImage.smallUrl" alt="product.mainImage.alt"}}>
        {{ product.name }}
      </li>
    {{/each}}
  </ul>
</div>
